* {
  font-family: 'SATOSHI';
}
/* make the customizations VARIABLE ONLY */
$primary: #d64923;
$secondary: #002029;
$sucess: #42ff00;
$warning: #ffe500;
$danger: #ff0000;
$light: #ffffff;
$dark: $secondary;

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'success': $sucess,
  'warning': $warning,
  'danger': $danger,
  'light': $light,
  'dark': $dark,
);

/* import bootstrap to set changes */

@import '../node_modules/bootstrap/scss/bootstrap.scss';

// make components customization
.accordion,
.accordion-header,
.accordion-button {
  width: 100% !important;
  --bs-accordion-active-bg: var(--bs-primary-bg-subtle);
  --bs-accordion-border-color: #aeaeae;
}
.accordion-button:not(.collapsed) {
  background-color: #fffcbd;
}
.accordion-button:focus {
  z-index: 3;
  outline: 0;
  box-shadow: none !important;
}
.navbar-toggler {
  padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
  font-size: var(--bs-navbar-toggler-font-size);
  line-height: 1;
  color: $primary;
  background-color: none;
  border: 1px solid $light;
}
.navbar-toggler-icon {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  background-color: $primary;
  box-shadow: none;
}

#NavigationBar {
  padding-top: 32px;
  min-height: 12vh;
  width: 100%;
}
.nav-item {
  color: #ffffff !important;
  font-weight: 400;
  font-size: 16px;
}
.nav-item.active {
  font-weight: bolder;
  color: #d64923 !important;
}

.nav-item:hover {
  color: #d64a23e1 !important;
}

.btn {
  color: $light !important;
  border-radius: 30px;
  padding: 10px 40px;
  font-size: 16px;
  font-weight: 700;
}

#basic-nav-dropdown {
  color: #ffffff !important;
}
#basic-nav-dropdown:hover {
  color: #d64a23e1 !important;
}

.row {
  width: 100% !important;
}

.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 0 16px;
}

/* Tablet (ukuran font yang sedikit lebih kecil daripada desktop) */
@media (max-width: 1023px) {
  .hero-header,
  .about-header,
  .services-header,
  .faq-header {
    font-size: 3.75rem; /* Contoh ukuran font untuk tablet */
  }

  .hero-desc,
  .services-desc,
  .card-desc,
  .faq-desc,
  .accordion-button,
  .accordion-body,
  .about-desc {
    font-size: 1rem; /* Contoh ukuran font untuk tablet */
  }

  .hero-copy {
    gap: 16px;
  }
}

@media (max-width: 767px) {
  .hero-header {
    font-size: 2.5rem; /* Contoh ukuran font untuk mobile */
  }

  .about-header,
  .services-header,
  .faq-header {
    font-size: 2rem;
  }

  .hero-desc,
  .services-desc,
  .card-desc,
  .faq-desc,
  .accordion-button,
  .accordion-body,
  .about-desc {
    font-size: 0.75rem; /* Contoh ukuran font untuk tablet */
    text-align: left;
    font-weight: 400;
    /* Contoh ukuran font untuk mobile */
  }

  .direct,
  .contact,
  .office,
  .copyright {
    font-size: 0.8rem;
  }

  .navigator {
    margin-bottom: 4px;
  }

  .element {
    gap: 16px;
    justify-content: center;
    align-items: center;
  }

  .links {
    justify-content: space-around;
  }

  .img-up {
    scale: 0.7;
    bottom: 16px;
    right: 16px;
  }
}
